.formulario .radio label,
  .formulario .checkbox label {
    display: inline-block;
    cursor: pointer;
    color: rgba(0,94,44,1);
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 1em;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .formulario .radio label:hover,
    .formulario .checkbox label:hover {
      background: rgba(0,94,44,0.1); } 
    .formulario .radio label:before,
    .formulario .checkbox label:before {
      content: "";
      display: inline-block;
      width: 17px;
      height: 17px;
      position: absolute;
      left: 15px;
      border-radius: 3px;
      background: none;
      border: 3px solid rgba(0,94,44,1) }
  .formulario .checkbox input[type="checkbox"] {
    display: none; }
    .formulario .checkbox input[type="checkbox"]:checked + label:before {
      display: none; }
      .formulario .checkbox input[type="checkbox"]:checked + label {
      background: rgba(0,94,44,1);
      color: #fff;
      padding: 5px 15px; }
 /* .formulario .checkbox label:before {
    border-radius: 3px; }
  
    
    
*/
.imagenMenu{
  padding: 2em;
  box-sizing: border-box;

}

#tbconsulta thead th
{
   color: black;
  background-color: white;
  border-color: rgba(174,219,193,0.9);
margin-bottom: 2px;
padding: 2px;
}
#tbconsulta tr td
{
  padding-top: 2px;
}
 #mostrardatos tr td
 {
  border-bottom: 1px solid #ddd;
 }


