<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.2.xsd">
 
    <context:component-scan base-package="co.edu.fnsp.buho.*" />
    <mvc:annotation-driven />
    <task:annotation-driven />
    <mvc:resources mapping="/resources/**" location="/resources/" />
    
    <bean name="buhoInterceptor" class="co.edu.fnsp.buho.filtros.CustomInterceptor"/>
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <mvc:exclude-mapping path="/resources/**" />
            <mvc:exclude-mapping path="/index" />
            <mvc:exclude-mapping path="/logout" />
            <mvc:exclude-mapping path="/login/cambiarClave" />
            <mvc:exclude-mapping path="/login/crear" />
            <mvc:exclude-mapping path="/login/recuperarClave" />
            <mvc:exclude-mapping path="/convocatorias/postular/**" />
            <mvc:exclude-mapping path="/convocatorias/retirarPostulacion/**" />
            <mvc:exclude-mapping path="/convocatorias/documento/**" />
            <mvc:exclude-mapping path="/convocatorias/resultado/**" />
            <mvc:exclude-mapping path="/convocatorias/adenda/documento/**" />
            <mvc:exclude-mapping path="/convocatorias/ver/**" />
            <mvc:exclude-mapping path="/convocatorias/programasSede/**" />
            <mvc:exclude-mapping path="/convocatorias/programas/**" />
            <mvc:exclude-mapping path="/convocatorias/capacitaciones/**" />
            <mvc:exclude-mapping path="/convocatorias/postulados/**" />
            <mvc:exclude-mapping path="/convocatorias/descargarPostulados/**" />
            <mvc:exclude-mapping path="/convocatorias/preseleccionados/**" />
            <mvc:exclude-mapping path="/convocatorias/descargarPreseleccionados/**" />
            <mvc:exclude-mapping path="/convocatorias/evaluaciones/**" />
            <mvc:exclude-mapping path="/convocatorias/descargarEvaluaciones/**" />
            <mvc:exclude-mapping path="/convocatorias/eliminarIdioma/**" />
            <mvc:exclude-mapping path="/convocatorias/idioma" />
            <mvc:exclude-mapping path="/convocatorias/eliminarAdenda/**" />
            <mvc:exclude-mapping path="/convocatorias/adenda" />
            <mvc:exclude-mapping path="/convocatorias/eliminarAnyosExperiencia/**" />
            <mvc:exclude-mapping path="/convocatorias/anyosExperiencia" />
            <mvc:exclude-mapping path="/convocatorias/eliminarPrograma/**" />
            <mvc:exclude-mapping path="/convocatorias/programa" />
            <mvc:exclude-mapping path="/convocatorias/eliminarEducacionContinua/**" />
            <mvc:exclude-mapping path="/convocatorias/educacionContinua" />
            <mvc:exclude-mapping path="/convocatorias/eliminarCriterioHabilitante/**" />
            <mvc:exclude-mapping path="/convocatorias/criterioHabilitante" />
            <mvc:exclude-mapping path="/hojasVida/editar" />
            <mvc:exclude-mapping path="/hojasVida/terminos" />
            <mvc:exclude-mapping path="/hojasVida/programa" />
            <mvc:exclude-mapping path="/hojasVida/departamentosPais/**" />
            <mvc:exclude-mapping path="/hojasVida/ciudadesDepartamento/**" />
            <mvc:exclude-mapping path="/hojasVida/copiaLibretaMilitar/**" />
            <mvc:exclude-mapping path="/hojasVida/copiaRUT/**" />
            <mvc:exclude-mapping path="/hojasVida/copiaCedula/**" />
            <mvc:exclude-mapping path="/hojasVida/programasInstitucion/**" />
            <mvc:exclude-mapping path="/hojasVida/documentoProductoConocimiento/**" />
            <mvc:exclude-mapping path="/hojasVida/documentoProductoConocimientoValidar/**" />
            <mvc:exclude-mapping path="/hojasVida/documentoPatente/**" />
            <mvc:exclude-mapping path="/hojasVida/documentoPatenteValidar/**" />
            <mvc:exclude-mapping path="/hojasVida/certificadoCursoExperienciaDocencia/**" />
            <mvc:exclude-mapping path="/hojasVida/certificadoCursoExperienciaDocenciaValidar/**" />
            <mvc:exclude-mapping path="/hojasVida/certificadoExperienciaLaboral/**" />
            <mvc:exclude-mapping path="/hojasVida/certificadoExperienciaLaboralValidar/**" />
            <mvc:exclude-mapping path="/hojasVida/certificadoDistincion/**" />
            <mvc:exclude-mapping path="/hojasVida/certificadoDistincionValidar/**" />
            <mvc:exclude-mapping path="/hojasVida/certificadoEducacionContinua/**" />
            <mvc:exclude-mapping path="/hojasVida/certificadoEducacionContinuaValidar/**" />
            <mvc:exclude-mapping path="/hojasVida/certificadoEducacionSuperior/**" />
            <mvc:exclude-mapping path="/hojasVida/certificadoEducacionSuperiorValidar/**" />
            <mvc:exclude-mapping path="/hojasVida/certificadoHomologadoEducacionSuperior/**" />
            <mvc:exclude-mapping path="/hojasVida/certificadoHomologadoEducacionSuperiorValidar/**" />
            <mvc:exclude-mapping path="/hojasVida/certificadoEducacionBasica/**" />
            <mvc:exclude-mapping path="/hojasVida/certificadoEducacionBasicaValidar/**" />
            <mvc:exclude-mapping path="/hojasVida/certificadoIdioma/**" />
            <mvc:exclude-mapping path="/hojasVida/certificadoIdiomaValidar/**" />
            <mvc:exclude-mapping path="/hojasVida/documentoSoporte/**" />
            <mvc:exclude-mapping path="/hojasVida/documentoSoporteValidar/**" />
            <mvc:exclude-mapping path="/hojasVida/institucionesEducativasColombianas" />
            <mvc:exclude-mapping path="/hojasVida/institucionesEducativasExtranjeras" />
            <mvc:exclude-mapping path="/hojasVida/institucion" />
            <mvc:exclude-mapping path="/hojasVida/eliminarCorreoElectronico/**" />
            <mvc:exclude-mapping path="/hojasVida/correoElectronico" />
            <mvc:exclude-mapping path="/hojasVida/eliminarCuentaBancaria/**" />
            <mvc:exclude-mapping path="/hojasVida/cuentaBancaria" />
            <mvc:exclude-mapping path="/hojasVida/eliminarTelefono/**" />
            <mvc:exclude-mapping path="/hojasVida/telefono" />
            <mvc:exclude-mapping path="/hojasVida/eliminarDocumentoSoporte/**" />
            <mvc:exclude-mapping path="/hojasVida/documentoSoporte" />
            <mvc:exclude-mapping path="/hojasVida/eliminarEducacionBasica/**" />
            <mvc:exclude-mapping path="/hojasVida/educacionBasica" />
            <mvc:exclude-mapping path="/hojasVida/eliminarEducacionSuperior/**" />
            <mvc:exclude-mapping path="/hojasVida/educacionSuperior" />
            <mvc:exclude-mapping path="/hojasVida/eliminarEducacionContinua/**" />
            <mvc:exclude-mapping path="/hojasVida/educacionContinua" />
            <mvc:exclude-mapping path="/hojasVida/eliminarDistincion/**" />
            <mvc:exclude-mapping path="/hojasVida/distincion" />
            <mvc:exclude-mapping path="/hojasVida/eliminarExperienciaLaboral/**" />
            <mvc:exclude-mapping path="/hojasVida/experienciaLaboral" />
            <mvc:exclude-mapping path="/hojasVida/eliminarExperienciaDocencia/**" />
            <mvc:exclude-mapping path="/hojasVida/experienciaDocencia" />
            <mvc:exclude-mapping path="/hojasVida/eliminarCursoExperienciaDocencia/**" />
            <mvc:exclude-mapping path="/hojasVida/cursoExperienciaDocencia" />
            <mvc:exclude-mapping path="/hojasVida/eliminarArticulo/**" />
            <mvc:exclude-mapping path="/hojasVida/articulo" />
            <mvc:exclude-mapping path="/hojasVida/eliminarPatente/**" />
            <mvc:exclude-mapping path="/hojasVida/patente" />
            <mvc:exclude-mapping path="/hojasVida/eliminarProductoConocimiento/**" />
            <mvc:exclude-mapping path="/hojasVida/productoConocimiento" />
            <mvc:exclude-mapping path="/hojasVida/eliminarIdioma/**" />
            <mvc:exclude-mapping path="/hojasVida/idioma" />
            <mvc:exclude-mapping path="/hojasVida/personas/**" />
            <mvc:exclude-mapping path="/hojasVida/datos/**" />
            <mvc:exclude-mapping path="/hojasVida/consultarHojasVida" />
            <mvc:exclude-mapping path="/hojasVida/validarDocumento" />
            <mvc:exclude-mapping path="/hojasVida/consultarHojasVidaEducacionBasica" />
            <mvc:exclude-mapping path="/hojasVida/descargarHojasVidaEducacionBasica" />
            <mvc:exclude-mapping path="/hojasVida/consultarHojasVidaEducacionSuperior" />
            <mvc:exclude-mapping path="/hojasVida/descargarHojasVidaEducacionSuperior" />
            <ref bean="buhoInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>
    <bean id="property"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name = "locations">
            <list>
                <value>/WEB-INF/jdbc.properties</value>
                <value>/WEB-INF/application.properties</value>
            </list> 
        </property>
    </bean>
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close" >
       <property name="url" value="${jdbc.url}" />
       <property name="driverClassName" value="${jdbc.driverClassName}" />
       <property name="username" value="${jdbc.username}" />
       <property name="password" value="${jdbc.password}" />
       <property name="initialSize" value="20" />
       <property name="testWhileIdle" value="true" />
    </bean>    
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="20848820" />
        <property name="maxInMemorySize" value="20848820" />
    </bean>
    <bean id="viewResolver" class="org.springframework.web.servlet.view.tiles3.TilesViewResolver">  
        <property name="viewClass">  
            <value>org.springframework.web.servlet.view.tiles3.TilesView</value>  
        </property> 
    </bean> 
    <bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
        <property name="definitions">
            <list>
                <value>/WEB-INF/tiles/tiles.xml</value>
            </list>
        </property>
        <property name="preparerFactoryClass" value="org.springframework.web.servlet.view.tiles3.SpringBeanPreparerFactory" />        
    </bean>  
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="587" />
        <property name="username" value="gestiontifnsp@udea.edu.co" />
        <property name="password" value="Udea@2016fn" />

        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
            </props>
        </property>
    </bean>      
</beans>